
  <html>
  <head>
  	<title>Bienvenido</title>
  	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  	<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  </head>
  <body>
<center>
  	<h1>Home</h1>
  	<div class="container">
  		<center>
      <p>Hola {{ user.first_name }}&nbsp;{{ user.last_name }}</p>
  			<input type="button" id="nextpage" value="Empecemos" class="btn btn-danger" onclick="window.location.href='../register/'" >
  		</center>
  	</div>
</center>
  </body>
  </html>


